html, body {
  height: 100%;
  margin: 0;
}

.main {
  width: 50vw; /* 50% of the viewport width */
  height: 70vh; /* 50% of the viewport height */
  display: flex;
  justify-content: center;/**/
  align-items: center;/**/
  /*background-color: lightblue;*/
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.profilePic {
  position: absolute;
  top: 0;
  left: 3000;
}

.circular-image {
  width: 200px;  /* Set the desired width */
  height: 200px; /* Set the same height for the circle */
  border-radius: 50%; /* This ensures the image is circular */
  object-fit: cover; /* Keeps the image proportional within the circle */
  border: 3px solid #0077b6; /* Optional: Adds a border to match your theme */
}

.logo {
  width: 100px;  /* Set the desired width */
  height: 100px; /* Set the same height for the circle */
}